<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-circle"></i>
        <b> Download Site</b>
      </a> </div>
  </nav>
  <div class="py-5 text-center text-white" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url(https://static.pingendo.com/cover-bubble-dark.svg);  background-position: center center, center center;  background-size: cover, cover;  background-repeat: repeat, repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="mb-3">This is a simple Download site.</h1>
          <a class="btn btn-primary m-3" href="file/src">Download Now</a> <img class="img-fluid d-block mx-auto" src="{{url_for('static', filename='img/img-placeholder-tablet.svg')}}" width="750">
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 bg-dark" style="	background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.8));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center d-md-flex align-items-center">
          <ul class="nav mx-md-auto d-flex justify-content-center">
            <li class="nav-item"> <a class="nav-link active" href="https://kjpig.cn">Blog</a> </li>
            <li class="nav-item"> <a class="nav-link" href="/file/src">Download</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://kjpig.cn">About</a> </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mt-2 mb-0">© 2020 KJ. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="assetes/js/popper.min.js"></script>-->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>